waves.cmd
waves.out
waves.tmc
waves.m
waves.log
HClcol.cc
tm.dac
HClcoloui.c
HClcoloui.o
HClcol.o
ptrhm.o
ptrhm_col.o
HClcmd.cc
HClcmd.dat
HClsrvr.o
HClsrvroui.c
HClsrvroui.o
HCltbl.tmc
HCl2tbl.tmc
algotbl.tmc
HCldisp.cc
HCldispoui.c
HCldispoui.o
HCldisp.o
HCltblnc.tmc
HCl2tblnc.tmc
algotblnc.tmc
HCldispnc.cc
HCldispncoui.c
HCldispncoui.o
HCldispnc.o
HClsws.tma
HClalgoa.tmc
HClalgo.cc
HClalgooui.c
HClalgooui.o
HClalgo.o
HClrtgext.cc
HClrtgextoui.c
HClrtgextoui.o
HClrtgext.o
ssprtgext.cc
ssprtgextoui.c
ssprtgextoui.o
ssprtgext.o
scantmext.cc
scantmextoui.c
scantmextoui.o
scantmext.o
scantm.o
doit.dep
HClclt.o
HClcltoui.c
HClcltoui.o
HClcltnc.o
HClcltncoui.c
HClcltncoui.o
HClengext.cdf
HClengextcdf.oui
HClengextcdf.tmc
HClengext.cc
HClengextoui.c
HClengextoui.o
HClengext.o
HCltbl.tmc.dep
HCl2tbl.tmc.dep
algotbl.tmc.dep
HCltblnc.tmc.dep
HCl2tblnc.tmc.dep
algotblnc.tmc.dep
*.err
Makefile
HClcol
HClsrvr
HCldisp
HCldispnc
HClalgo
HClrtgext
ssprtgext
scantmext
doit
HClclt
HClcltnc
HClengext
